project/data/config.py
project/data/__pycache__
*.csv
*.pkl
*.db
.~lock.source_m_df.csv#
exercises/trainstops.sqlite
exercises/cars.sqlite
media
project/report_front_page.md
project/report.md
exercises/temperatures.sqlite
